.venv/
.ipynb_checkpoints/
__pycache__/

# SAP AI Core credentials
default_aicore.json

# GitHub credentials
github.creds

# Docker credentials
docker.creds

# Tensor flow project files
/tf_files/max_pad_len.txt
/tf_files/label_encoded_classes.npy
/tf_files/model.h5
/tf_files/tokens.json
